// STYLES
@mixin clear {
    margin: 0;
    padding: 0;
}

@mixin clear-list {
    @include clear;
    list-style: none;
}

@mixin clear-and-border-box {
    @include clear;
    box-sizing: border-box;
}

@mixin cleaning-dom {
    position: relative;
    box-sizing: border-box;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @include clear;
    }
    ul {
        @include clear-list;
    }
    a {
        text-decoration: none;
    }
}

@mixin size($width, $height: $width) {
      width: $width+px;
      height: $height+px;
}

@mixin flex-center($dir: column) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
// MEDIA
@mixin for-large-desktops-and-laptops {
    @media (min-width: 1200px) { @content; }
}

@mixin for-portrait-tablets-and-medium-desktops {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
}

@mixin for-portrait-tablets-and-small-desktops {
    @media (min-width: 761px) and (max-width: 1280px) { @content; }
}

@mixin for-landscape-phones-and-portrait-tablets-2 {
        @media (min-width: 761px) and (max-width: 1000px) { @content; }
}

@mixin for-landscape-phones-and-portrait-tablets {
    @media (min-width: 481px) and (max-width: 760px) { @content; }
}

@mixin for-landscape-phones-and-smaller {
    @media screen and (max-width: 480px) { @content; }
}

// _______________________________________

@mixin for-super-smaller4 {
    @media (min-width: 391px) and (max-width: 440px) { @content; }
}

@mixin for-super-smaller3 {
    @media (min-width: 351px) and (max-width: 390px) { @content; }
}

@mixin for-super-smaller2 {
    @media (max-width: 350px) { @content; }
}

@mixin for-super-smaller {
    @media (max-width: 315px) { @content; }
}
