// Colors
$global-bulgarian-rose: rgba(75, 15, 16, 1);
$global-fire-engine-red: rgba(202, 38, 34, 1);
$global-lazy-white: rgba(250, 234, 210, 1);
$global-eggshell: rgba(234, 226, 214, 1);
$global-beaver: rgba(158, 138, 117, 1);

$global-white: rgba(255, 255, 255, 1);
$global-ligth-gray: #EEF1F8;
$global-dark-gray: #222222;
$global-dim-gray: #919191;

// Soc. Net. Colors
$global-vk: #506f9b;
$global-fa: #435897;
$global-tw: #5c9eff;
$global-te: #34ADE1;
$global-sk: #2d7bf7;
$global-ok: #EE8208;
$global-wh: #26d367;
$global-pi: #CB2029;

// Size
$global-view-port: 1400px;
