@import './_params.scss';
@import './_mixins.scss';

@font-face {
  font-family: 'Russia Regular';
  src: url('../fonts/Russia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Russia Medium';
  src: url('../fonts/Russia-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// html { margin-left: calc(100vw - 100%); }

// html{
//  height:100%;
//  min-height:100%;
//  }

// html {
//     background-color: $global-bulgarian-rose;
// }

body {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height:100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


// html {
//     background: url(../assets/bg-red-min.png) no-repeat center center fixed;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;
// }

.header {
    z-index: 69;
}

.popup--active {
    z-index: 79;
}

.view-port {
    max-width: $global-view-port !important;
    margin: 0 auto;
}


.page-title-box {
    background: url("../assets/2506.png") no-repeat;
    background-position: center;
    background-size: 100%;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include flex-center;
    &__title {
        font-family: 'Russia Regular';
        font-size: 24px;
        font-weight: 500;
        color: $global-lazy-white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        cursor: default;
        margin: 0;
    }
}

.content__videos {
    margin-top: 80px;
}

.videos-bg {
    box-shadow: 0 5px 15px rgba(0,0,0,.7) inset;
    border-top: 4px solid darken($global-dim-gray, 10%);
}

@keyframes item-in {
    0% {opacity: 0; background-color: $global-bulgarian-rose;}
    15% {background-color: $global-bulgarian-rose}
    65% {opacity: 0.35;}
    100% {opacity: 1;}
}

.video-page {
    @include for-landscape-phones-and-smaller {
        background: url(../assets/bg-vgtrk-2.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 100%;
    }
    @include clear;
    @include cleaning-dom;

    box-shadow: 0 5px 15px rgba(0,0,0,.7) inset;
    border-top: 4px solid darken($global-dim-gray, 10%);


    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    // max-height: 100vh;
    background: url(../assets/bg-vgtrk-2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;

    &__content {
        @include for-landscape-phones-and-smaller {
            padding-bottom: 0;

        }
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        // padding-bottom: 50px;

        .video-box {
            @include for-landscape-phones-and-smaller {
                grid-template-columns: 1fr;
                grid-auto-rows: 55px;
                grid-gap: 30px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                margin: 50px auto;
                width: 460px;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 50px;
                grid-gap: 30px;
                justify-items: center;
            }
            @include for-portrait-tablets-and-small-desktops {
                width: 740px;
                margin: 50px auto;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 50px;
                grid-gap: 30px;
            }
            width: inherit;
            height: inherit;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: calc((185px - 35px) / 2);
            grid-gap: 35px;
            align-items: stretch;
            font-family: 'Russia Regular';
            margin-top: 50px;
            margin-bottom: 50px;

            &__wrapper-for-item {
                @include for-landscape-phones-and-smaller {
                    width: 245px;
                    margin: 0 auto;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    width: 100%;
                }
                @include for-portrait-tablets-and-small-desktops {
                    width: 100%;
                }
                width: 100%;
                height: 100%;

                grid-row: span 2;
            }

            &__wrapper-for-item[data-name="главное видео"] {
                @include for-landscape-phones-and-smaller {
                    grid-column: 1 / 2;
                    grid-row: 1 / 4;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    grid-column: 1 / 3;
                    grid-row: 1 / 4;
                }
                @include for-portrait-tablets-and-small-desktops {
                    grid-column: 1 / 3;
                }
                grid-column: 2 / 4;
                grid-row: 1 / 5;


                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217678.8.1080xp.jpg');
                    background-position: top center;
                }

                .video-box__video-indicator {
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 75px;
                    height: 75px;
                    background-size: 34px;
                    background-position: 23px center;
                    opacity: .85;
                }
            }

            &__wrapper-for-item[data-name="Евгений Миронов"] {
                @include for-landscape-phones-and-smaller {
                    grid-column: 1 / 2;
                    grid-row: span 2;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                @include for-portrait-tablets-and-small-desktops {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                grid-column: 1 / 2;
                grid-row: 3 / 6;

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217671.7.583x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Любовь Толкалина"] {
                @include for-landscape-phones-and-smaller {
                    grid-column: 1 / 2;
                    grid-row: span 2;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                @include for-portrait-tablets-and-small-desktops {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                grid-column: 4 / 5;
                grid-row: 3 / 6;

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217675.8.583x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Фёдор Бондарчук"] {
                @include for-landscape-phones-and-smaller {
                    grid-column: 1 / 2;
                    grid-row: span 2;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                @include for-portrait-tablets-and-small-desktops {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                grid-column: 2 / 3;
                grid-row: 5 / 8;

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217669.7.583x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Сергей Шакуров"] {
                @include for-landscape-phones-and-smaller {
                    grid-column: 1 / 2;
                    grid-row: span 2;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                @include for-portrait-tablets-and-small-desktops {
                    grid-column: span 1;
                    grid-row: span 2;
                }
                grid-column: 3 / 4;
                grid-row: 5 / 8;

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217673.4.583x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Сергей Гармаш"] {

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217670.8.483x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Екатерина Шпица"] {

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217674.4.583x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Карина Андоленко"] {

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217668.5.483x353.jpg');
                    background-position: top center;
                }
            }

            &__wrapper-for-item[data-name="Александр Самойленко"] {

                .video-box__img-box {
                    background-image: url('https://b1.m24.ru/c/1217672.6.673x353.jpg');
                    background-position: top center;
                }
            }

            &__item {
                width: 100%;
                height: 100%;
                background-color: $global-lazy-white;
                border-radius: 6px;
                padding: 0;
                @include flex-center;
                cursor: pointer;
                box-shadow: 0 4px 8px rgba(0,0,0,.38);
                transition: all .4s ease-out;
                animation: item-in 1.35s ease-out;
                &:hover {
                    filter: drop-shadow(0 2px 22px transparentize($global-bulgarian-rose, .44));
                    .video-box__titr-box {
                        transform: scale(1.03);
                    }
                    .video-box__video-indicator {
                        opacity: 1;
                    }
                }
            }

            &__img-box {
                position: relative;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, transparentize(darken($global-bulgarian-rose, 12%), .5), rgba(0,0,0,0));
                    z-index: 29;
                    border-radius: 6px;
                }
            }

            &__video-indicator {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 55px;
                height: 55px;
                background-color: transparentize($global-eggshell, .2);
                background-image: url("../assets/46.png");
                background-repeat: no-repeat;
                background-size: 22px;
                background-position: 19px center;
                border-radius: 50%;
                box-shadow: 0 2px 8px rgba(0,0,0, .2);
                opacity: .8;
                transition: all .45s ease-out;
            }

            &__titr-box {
                @include for-landscape-phones-and-smaller {
                    margin-bottom: 0px;
                    overflow: hidden;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    margin-bottom: 2px;
                    overflow: hidden;
                }
                @include for-portrait-tablets-and-small-desktops {
                    margin-bottom: 2px;
                    overflow: hidden;
                }
                position: relative;
                width: 90%;
                height: 50px;
                background: url("../assets/bg-title.svg") no-repeat;
                background-size: 100%;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                z-index: 49;
                margin-bottom: 3px;
                transition: all .25s ease-out;

                h4 {
                    @include for-landscape-phones-and-smaller {
                        font-size: 13px;
                        padding-left: 20px;
                    }
                    @include for-landscape-phones-and-portrait-tablets {
                        font-size: 12px;
                        padding-left: 15px;
                    }
                    @include for-portrait-tablets-and-small-desktops {
                        font-size: 12px;
                        padding-left: 15px;
                    }
                    color: $global-lazy-white;
                    font-size: 16px;
                    font-weight: 500;
                    padding-left: 20px;
                }
            }
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) { /* для нормальных браузеров */
       .video-page {
           background: url(../assets/bg-participants.png);
           background-size: auto 100%;
       }
}

.participants-page {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;

    @include clear;
    @include cleaning-dom;

    box-shadow: 0 5px 15px rgba(0,0,0,.5) inset;
    border-top: 4px solid darken($global-beaver, 25%);

    &__content {
        display: flex;
        flex-direction: column;
        width: inherit;
        height: inherit;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.participants-container {
    @include for-landscape-phones-and-smaller {
        grid-template-columns: 1fr;
        grid-auto-rows: 55px;
        grid-gap: 30px;
    }
    @include for-landscape-phones-and-portrait-tablets {
        margin: 50px auto;
        width: 460px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50px;
        grid-gap: 30px;
        justify-items: center;
    }
    @include for-portrait-tablets-and-small-desktops {
        width: 740px;
        margin: 50px auto;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 50px;
        grid-gap: 30px;
    }
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc((235px - 35px) / 2);
    grid-gap: 35px;
    align-items: stretch;
    font-family: 'Russia Regular';
    margin-top: 50px;
    margin-bottom: 50px;

    &__preloader {
        width: 100%;
        height: 235px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        @include flex-center;
        svg {
            width: 60%;
            height: 60%;
        }
    }

    &__wrapper-for-item {
        @include for-landscape-phones-and-smaller {
            width: 245px;
            margin: 0 auto;
        }
        @include for-landscape-phones-and-portrait-tablets {
            width: 100%;
        }
        @include for-portrait-tablets-and-small-desktops {
            width: 100%;
        }
        width: 100%;
        height: 100%;

        grid-row: span 2;
    }

    &__item {
        width: 100%;
        height: 100%;
        background-color: $global-lazy-white;
        border-radius: 6px;
        padding: 0;
        @include flex-center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0,0,0,.38);
        transition: all .4s ease-out;
        animation: item-in 1.35s ease-out;
        @keyframes item-in {
            0% {opacity: 0; background-color: $global-bulgarian-rose;}
            15% {background-color: $global-bulgarian-rose}
            65% {opacity: 0.35;}
            100% {opacity: 1;}
        }
        &:hover {
            filter: drop-shadow(0 2px 22px transparentize($global-bulgarian-rose, .44));
            .participants-container__titr-box {
                transform: scale(1.03);
            }
        }
    }

    &__illusive-item-1 {
        @include for-landscape-phones-and-smaller {
            display: none;
        }
        @include for-landscape-phones-and-portrait-tablets {
            display: none;
        }
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(0,0,0,0.6) 66%, rgba(0,0,0,0.3)), url("../assets/bg-participants.png") no-repeat;
        background-size: 1055px;
        background-position: left bottom;
        border-radius: 6px;
        padding: 0;
        @include flex-center;
        box-shadow: 3px 3px 6px rgba(0,0,0,.3);
        animation: illusive-item-in 1s ease-out;

        & > div {
            p {
                @include for-portrait-tablets-and-small-desktops {
                    font-size: 22px;
                }
                font-family: 'Russia Regular';
                font-weight: 500;
                font-size: 36px;
                color: $global-eggshell;
                text-transform: uppercase;
                opacity: .85;
                cursor: default;
            }
        }
    }

    &__illusive-item-2 {
        @include for-landscape-phones-and-smaller {
            display: none;
        }
        @include for-landscape-phones-and-portrait-tablets {
            display: none;
        }
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(0,0,0,0.6) 66%, rgba(0,0,0,0.3)), url("../assets/bg-participants.png") no-repeat;
        background-size: 1055px;
        background-position: left bottom;
        border-radius: 6px;
        padding: 0;
        @include flex-center;
        box-shadow: 3px 3px 6px rgba(0,0,0,.3);
        transform: scaleX(-1);
        animation: illusive-item-in-2 1s ease-out;
        @keyframes illusive-item-in-2 {
            0% {opacity: 0; transform: translateX(20px) translateY(-20px) scaleX(-1);}
            100% {opacity: 1; transform: translateX(0px) scaleX(-1);}
        }

        & > div {

            p {
                @include for-portrait-tablets-and-small-desktops {
                    font-size: 22px;
                }
                font-family: 'Russia Regular';
                font-weight: 500;
                font-size: 36px;
                color: $global-eggshell;
                text-transform: uppercase;
                transform: scaleX(-1);
                opacity: .85;
                cursor: default;
            }
        }
    }

    @keyframes illusive-item-in {
        0% {opacity: 0; transform: translateX(-20px) translateY(-20px);}
        100% {opacity: 1; transform: translateX(0px) translateY(0px);}
    }


    &__img-box {
        position: relative;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, transparentize(darken($global-bulgarian-rose, 12%), .2), rgba(0,0,0,0));
            z-index: 29;
            border-radius: 6px;
        }
    }

    &__titr-box {
        @include for-landscape-phones-and-smaller {
            margin-bottom: 5px;
            overflow: hidden;
        }
        @include for-landscape-phones-and-portrait-tablets {
            margin-bottom: 2px;
            overflow: hidden;
        }
        @include for-portrait-tablets-and-small-desktops {
            margin-bottom: 2px;
            overflow: hidden;
        }
        position: relative;
        width: 90%;
        height: 50px;
        background: url("../assets/bg-title.svg") no-repeat;
        background-size: 100%;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 49;
        margin-bottom: 20px;
        transition: all .25s ease-out;

        h4 {
            @include for-landscape-phones-and-smaller {
                font-size: 13px;
                padding-left: 20px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                font-size: 12px;
                padding-left: 15px;
            }
            @include for-portrait-tablets-and-small-desktops {
                font-size: 12px;
                padding-left: 15px;
            }
            color: $global-lazy-white;
            font-size: 16px;
            font-weight: 500;
            padding-left: 35px;
        }
    }
}

.participant-detail-popup {
    @include for-landscape-phones-and-smaller {
        width: 290px;
        height: auto;
        max-height: 1000px;
        border-radius: 19% 6px 6px 6px;
        // overflow-x: hidden;
    }
    @include for-landscape-phones-and-portrait-tablets {
        width: 390px;
        height: auto;
        max-height: 1200px;
        border-radius: 20% 6px 6px 6px;
        // overflow-x: hidden;
    }

    @include cleaning-dom;

    width: 1280px;
    height: 600px;
    max-height: 600px;
    border-radius: 6px;
    padding: 0 !important;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    cursor: default !important;

    &__content {
        @include for-landscape-phones-and-smaller {
            flex-direction: column;
            border-radius: 19% 6px 6px 6px;
        }
        @include for-landscape-phones-and-portrait-tablets {
            flex-direction: column;
            border-radius: 20% 6px 6px 6px;
        }
        width: 100%;
        height: inherit;
        display: flex;
        overflow: hidden;
        background-color: $global-eggshell;
        border: 2px solid lighten($global-lazy-white, 5%);
        border-radius: 6px;
    }

    &__slider-box {
        @include for-landscape-phones-and-smaller {
            order: 1;
            width: 100%;
            padding: 20px;
            padding-bottom: 55px;
            height: 100%;
        }
        @include for-landscape-phones-and-portrait-tablets {
            order: 1;
            width: 100%;
            padding: 20px;
            padding-bottom: 55px;
            height: 100%;
        }
        width: 50%;
        height: 100%;
        padding: 40px;
    }

    &__wrapper-for-slider {
        @include for-landscape-phones-and-smaller {

        }
        @include for-landscape-phones-and-portrait-tablets {

        }
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,.4)), url("../assets/bg-participants.png") no-repeat;
        background-position: right bottom;
        background-size: auto;
        border-radius: 3px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 6px rgba(0,0,0,.2) inset, 0px -2px 6px rgba(0,0,0,.15) inset;
        transition: all .5s ease-in-out;
    }

    &__current-index {
        @include for-landscape-phones-and-smaller {
            left: 0;
            border-radius: 3px 0 3px 0;
            box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        }
        @include for-landscape-phones-and-portrait-tablets {
            left: 0;
            border-radius: 3px 0 3px 0;
            box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        }
        pointer-events: auto !important;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
        color: $global-lazy-white;
        top: 0;
        right: 0;
        max-width: 60px;
        width: 60px;
        height: 30px;
        background-color: transparentize($global-bulgarian-rose, .3);
        z-index: 49;
        border-radius: 0 3px 3px 0;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        color: $global-eggshell;
        font-family: 'Russia Regular';
        font-weight: 500;
        font-size: 17px;
        padding-left: 7px;
        padding-right: 14px;

        & > i {
            margin-right: auto;
            margin-left: auto;
        }

        & > b {
            font-weight: normal;
            margin-left: auto;
        }
    }

    &__slider {
        @include for-landscape-phones-and-smaller {

        }
        width: 100%;
        height: 360px;
    }

    .glide {
        &__arrow {
            @include for-landscape-phones-and-smaller {
                width: 42px;
                height: 42px;
                font-size: 32px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                width: 42px;
                height: 42px;
                font-size: 32px;
            }
            color: $global-fire-engine-red;
            font-weight: bold;
            font-size: 38px;
            background-color: $global-lazy-white;
            border: 0;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            opacity: .88;
            @include flex-center;
            transition: all .15s ease-in;

            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: .77;
                transform: translateY(calc(-50% + 2px));
            }
        }
        &__arrow--left {
            @include for-landscape-phones-and-smaller {
                left: -18px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                left: -18px;
            }
            left: -25px;
            i {
                padding-right: 5px;
            }
        }

        &__arrow--right {
            @include for-landscape-phones-and-smaller {
                right: -18px;
            }
            @include for-landscape-phones-and-portrait-tablets {
                right: -18px;
            }
            right: -25px;
            i {
                padding-left: 5px;
            }
        }

    }

    &__slide {
        height: 360px;
        max-height: 360px;
        background-color: $global-beaver;
        overflow: hidden;
        border-radius: 3px;
    }

    &__video-tag {
        border-radius: 3px;
        width: 100% !important;
        cursor: pointer;
    }

    &__wrapper-img-tag {
        position: relative;
        width: 100%;
        height: 360px;
        cursor: default;
        &:hover {
            outline: none;
            text-decoration: none;
            text-transform: none;
            border: none;
        }
    }

    &__zoom-img-btn {
         pointer-events: auto !important;
         position: absolute;
         @include flex-center;
         font-family: "Font Awesome 5 Free";
         font-style: normal;
         font-variant: normal;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         font-weight: normal;
         font-size: 20px;
         color: $global-lazy-white;
         top: 0;
         right: 0;
         width: 50px;
         height: 50px;
         background-color: transparentize(darken($global-beaver, 20%), .075);
         cursor: pointer;
         z-index: 69;
         border-radius: 0 0 0 3px;
         box-shadow: -3px 3px 6px rgba(0,0,0,.6);
         transition: all .3s ease-out;

         &:hover {
             background-color: transparentize(darken($global-beaver, 25%), .05);
         }
         &:active {
             background-color: transparentize(darken($global-beaver, 30%), .05);
         }
     }

     &__img-preloader {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateX(-50%) translateY(-50%);
         width: 120px;
         height: 120px;
         z-index: 59;
     }

    &__img-tag {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 3px;
        opacity: 0;
        animation: popup-img-in .35s linear;
        animation-fill-mode: forwards;
        @keyframes popup-img-in {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }

    .mejs__overlay {
        width: 100% !important;
        height: 100% !important;
    }

    .mejs__overlay-button:active {
        outline: none !important;
    }

    .mejs__overlay-button:focus{
        outline: none !important;
    }

    .mejs__overlay-play {
        width: 100% !important;
        height: 100% !important;
        background-color: rgba(0,0,0,0.25);
    }

    .mejs__overlay-play .mejs__overlay-button {
        position: relative;
        background: url("../assets/46.png") no-repeat;
        background-size: auto;
        background-position: 42px center;
        background-color: transparentize($global-eggshell, .2);
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    .mejs__controls {
        background-color: darken($global-bulgarian-rose, 5%);
    }

    .mejs__poster {
        width: 100% !important;
        height: 360px !important;
    }

    .mejs__poster-img {
        width: inherit;
        height: inherit;
    }


    &__info-box {
        @include for-landscape-phones-and-smaller {
            width: 100%;
            height: auto;
            background: linear-gradient(to top, transparentize($global-beaver, .8) -10%, $global-eggshell);
            padding-left: 20px;
            border-bottom: 2px solid lighten($global-beaver, 25%);
        }
        @include for-landscape-phones-and-portrait-tablets {
            width: 100%;
            height: auto;
            background: linear-gradient(to top, transparentize($global-beaver, .8) -10%, $global-eggshell);
            padding-left: 20px;
            border-bottom: 2px solid lighten($global-beaver, 25%);
        }
        position: relative;
        width: 50%;
        height: auto;
        background: linear-gradient(to right, transparentize($global-beaver, .8) -10%, $global-eggshell);
        background-repeat: no-repeat;
        padding-left: 40px;
    }

    &__titles {
        @include for-landscape-phones-and-smaller {
            width: 92%;
            height: 60px;
            margin-top: 20px;
            padding-bottom: 10px;
        }
        @include for-landscape-phones-and-portrait-tablets {
            width: 92%;
            height: 80px;
            margin-top: 20px;
            padding-bottom: 7px;
        }
        @include for-landscape-phones-and-portrait-tablets-2 {
            width: 92%;
            height: 80px;
            margin-top: 20px;
            padding-bottom: 9px;
        }
        position: relative;
        background: url("../assets/35.png") no-repeat;
        background-position: center;
        background-size: 100%;
        height: 76px;
        width: 379px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3px;
        animation: filter-grayscale-in 1.1s ease-out;
        @keyframes filter-grayscale-in {
            0% {filter: grayscale(80%);}
            100% {filter: grayscale(0%);}
        }

        h5 {
            @include for-landscape-phones-and-smaller {
                font-size: 13px;
                margin-left: 25px;
                line-height: 15px;

            }
            font-family: 'Russia Regular';
            color: $global-eggshell;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-left: 35px;
        }
    }

    &__description {
        @include for-landscape-phones-and-smaller {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @include for-landscape-phones-and-portrait-tablets {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        position: relative;
        padding-top: 30px;
        p {
            @include for-landscape-phones-and-smaller {
                font-size: 13px;
                line-height: 19px;
                height: 130px;
                overflow-x: hidden;
                max-width: 100%;
            }
            @include for-landscape-phones-and-portrait-tablets {
                font-size: 14px;
                line-height: 22px;
                height: 180px;
                overflow-x: hidden;
                max-width: 100%;
            }
            position: relative;
            font-family: 'Russia Regular';
            font-size: 16px;
            text-align: left;
            line-height: 24px;
            max-width: 500px;
            height: 422px;
            overflow-y: auto;
            padding-right: 30px;
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: justify;
            &:before {
                @include for-landscape-phones-and-smaller {
                    width: 35%;
                }
                @include for-landscape-phones-and-portrait-tablets {
                    width: 40%;
                }
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 70%;
                height: 2px;
                background-color: transparentize($global-beaver, .65);
                z-index: 99;
            }
        }
    }
}

.caption-share-box {
    @include for-landscape-phones-and-smaller {
        bottom: -55px;
        left: -24px;
    }
    @include for-landscape-phones-and-portrait-tablets {
        bottom: -55px;
        left: -71px;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
    padding-right: 10px;
    z-index: 69;

    & > span {
        @include for-landscape-phones-and-smaller {
            display: none;
        }
        @include for-landscape-phones-and-portrait-tablets {
            display: none;
        }
        display: block;
        font-family: 'Russia Regular';
        font-weight: 500;
        font-size: 18px;
        color: $global-eggshell;
        text-transform: uppercase;
        margin-top: -4px;
        margin-bottom: 4px;
        margin-right: 1px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        width: 300px;
        justify-content: flex-end;
        align-items: center;
        color: $global-eggshell;
    }

    &__btn {
        @include for-landscape-phones-and-smaller {
            background-color: $global-beaver;
            box-shadow: 0 1px 3px rgba(0,0,0,.4);
        }
        @include for-landscape-phones-and-portrait-tablets {
            background-color: $global-beaver;
            box-shadow: 0 1px 3px rgba(0,0,0,.4);
        }
        @include flex-center;
        width: 36px;
        height: 36px;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0,0,0,.75);
        background-color: transparentize($global-beaver, .73);
        transition: all .2s linear;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $global-white;
            background-color:  $global-bulgarian-rose;
            transform: translateY(-2px);
        }
        &:active {
            background-color:  lighten($global-bulgarian-rose, 5%);
        }
    }
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.45;
    background: darken($global-beaver, 35%);
}


// .fancybox-lock {
//     overflow: hidden;
//     margin: 0 !important;
// }

.zoom-img-container.fancybox-is-open .fancybox-bg {
    opacity: 0.77;
    background: linear-gradient(to top, darken($global-beaver, 22%), darken($global-bulgarian-rose, 10%) 30%);
}

.fancybox-button--close {
    background-color: rgba(0,0,0,0);
}

.fancybox-button.fancybox-close-small {
    right: -5px;
    top: -5px;
}


.fancybox-slide--html {
    @include for-portrait-tablets-and-small-desktops {
        padding-left: 40px;
        padding-right: 40px;
    }
}


.video-box__player-box {
    @include for-landscape-phones-and-smaller {
        overflow-y: auto;
    }
    @include for-landscape-phones-and-portrait-tablets {
        overflow-y: auto;
    }
    position: relative;
    @include cleaning-dom;
    padding: 0 !important;
    overflow-y: hidden;
    width: 1200px;
    height: 675px;
    max-height: 800px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    cursor: default !important;
    border-radius: 3px;

    .mejs__overlay-button:active {
        outline: none !important;
    }

    .mejs__overlay-button:focus{
        outline: none !important;
    }

    .mejs__overlay-play {
        width: 100% !important;
        height: 100% !important;
        background-color: rgba(0,0,0,0.25);
    }

    .mejs__overlay-play .mejs__overlay-button {
        position: relative;
        background: url("../assets/46.png") no-repeat;
        background-size: auto;
        background-position: 42px center;
        background-color: transparentize($global-eggshell, .2);
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    .mejs__controls {
        background-color: darken($global-bulgarian-rose, 5%);
    }


    .mejs__overlay {
        width: 100% !important;
        height: 100% !important;
    }
    .mejs__overlay-play {
        width: 100% !important;
        height: 100% !important;
        background-color: rgba(0,0,0,0.25);
    }

    .sr {
        position: absolute;
        top: 0;
        letf: 0;
        width: 50px;
        height: 50px;
        z-index: 79;
    }
}

.video-box__player {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
}

@media (max-width: 560px) {
    .video-box__player-box {
        width: 500px;
        height: 350px;
    }
}

.video-share-box {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
    padding-right: 10px;
    z-index: 69;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        width: 300px;
        justify-content: flex-end;
        align-items: center;
        color: $global-eggshell;
    }

    &__btn {
        @include for-landscape-phones-and-smaller {
            pointer-events: auto;
            touch-action: none;
            width: 30px;
            height: 30px;
            background-color: transparentize($global-beaver, .75);
            box-shadow: 0 1px 3px rgba(0,0,0,.4);
            font-size: 16px;
        }
        @include for-landscape-phones-and-portrait-tablets {
            background-color: transparentize($global-beaver, .4);
            box-shadow: 0 1px 3px rgba(0,0,0,.4);
        }
        @include flex-center;
        width: 36px;
        height: 36px;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.5);
        background-color: transparentize($global-beaver, .75);
        transition: all .2s linear;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $global-white;
            background-color:  $global-bulgarian-rose;
            transform: translateY(-2px);
        }
        &:active {
            background-color:  lighten($global-bulgarian-rose, 5%);
        }
    }
}
