.form-box {
border-color: rgba(255,255,255,0.25);
background:rgb(75, 15, 15);
font-family:'Russia Regular',sans-serif
}

.caption-share-box__btn {
    background-color: rgba(75,15,16,.7);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.participant-detail-popup__description p {text-align:left}
.participant-detail-popup__zoom-img-btn {background-color: rgba(75,15,16,.7);}
.participant-detail-popup__zoom-img-btn:hover {
    background-color: rgba(75,15,16,1);
	color:#fff
}

/* .caption-share-box > span {
    display: block;
    font-family: Russia Regular;
    font-weight: 500;
    font-size: 18px;
    color: #eae2d6;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1px;
    display: block;
    position: absolute;
    right: 196px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
} */

@media (max-width:760px) {
.participant-detail-popup {
    width: 100%;
    height: auto;
    max-height: 1000px;
    border-radius: 32px 6px 6px 6px;
    overflow-x: auto;
    /* overflow-y: auto; */
}

.caption-share-box {padding-right:0;left:0}
.participant-detail-popup__content {border-radius: 32px 6px 6px 6px;}
.caption-share-box>span {
display: block;
    position: absolute;
    right: 190px;
    top: 50%;
    transform: translate(0,-40%);
    color: rgb(75,15,15);
	font-size:14px;
}

.content__text-2 {
    width: 100%;
    max-width: 100%;
}

}
